<!-- Header partial if user is logged out -->
<table class="nav-wrapper">
  <tr class="nav-list">
    <!-- Header to position on left side of page -->
    <td>
      <h1>Potluck Party</h1>
    </td>
    
    <!-- Home page link -->
<!--     <td>
      <a href="/">Home</a>
    </td> -->
    
    <!-- Login link -->
    <td>
      <a id="login-link" href="/sessions/new">Login | </a>
    </td>

    <!-- Create new user link -->
    <td>
      <a href="/users/new">Register</a>
    </td>

    <!-- Login form -->
    <!-- This can be used with javascript / ajax to show. -->
<!--     <td id="login-form-wrapper" class="nav-link no-js">
      <form action="/sessions" method="post">
        <input type="text" name="user[email]" placeholder="email" value="<%= @user.try(#:email)%>">
        <input type="password" name="user[password]" placeholder="password">
        <input id="login-form" class="" type="submit" value="Log In">
      </form>
    </td> -->

  </tr>
</table>