<!-- delete potluck form -->

<div class="delete-potluck-form">
  <form method="post" action="/potlucks/:id">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="Delete Potluck">
  </form>
</div>