<!-- display a list of all potlucks -->

<h1>Upcoming Potlucks</h1>

<div class="potluck-list-wrapper">
  <% @potlucks.each do |potluck| %>
    <span>
      <p><a href="/potlucks/<%= potluck.id %>"><%= potluck.name %></a></p>
      <p><%= potluck.starts_at %> at <%= potluck.location %></p>
    </span>
  <% end %>
</div>
